
<h1>Game Stats Checker</h1>
<h3>Check you Stats and compete for the top position!</h3>
<p>Click the button below to start searching</p>
<br>
<form asp-controller="Search" asp-action="SearchHome" method="get">
    <input type="submit" value="Search">
</form>

